<h3 class="header">My collection</h3>

<div class="row">
  <div class="col s12">
    <h5> Filters </h5>
    <div class="input-field col s3">
      <input id="nameFilter" type="text">
      <label for="nameFilter">Name</label>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="heroFilter">
                <option value="All">All</option>
                <option value="">Common</option>
                <option value="1">Warrior</option>
                <option value="2">Paladin</option>
                <option value="3">Hunter</option>
                <option value="4">Rogue</option>
                <option value="5">Priest</option>
                <option value="11">Druid</option>
                <option value="7">Shaman</option>
                <option value="8">Mage</option>
                <option value="9">Demonist</option>
            </select>
            <label>Hero</label>
        </div>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="costFilter">
                <option value="All">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7+</option>
            </select>
            <label>Cost</label>
        </div>
    </div>

    <div class="col s3">
        <div class="input-field">
            <select id="setFilter">
                <option value="All">All</option>
                <option value="2">Base</option>
                <option value="3">Classic</option>
                <option value="4">Reward</option>
                <option value="5">Missions</option>
                <option value="11">Promotion</option>
                <option value="12">Naxxramas</option>
                <option value="13">Goblins vs Gnomes</option>
                <option value="14">Blackrock Mountain</option>
                <option value="16">Credits</option>
            </select>
            <label>Set</label>
        </div>
    </div>

  </div>
</div>

<div id="cardContainer" class="row"></div>

<script>
  (function($, window, document, Randstone) {

    var cardContainer = "#cardContainer";
    var nameFilter = "#nameFilter";
    var heroFilter = "#heroFilter";
    var costFilter = "#costFilter";
    var setFilter = "#setFilter";
    var isBusyLoading = false;
    var scrollCount = 0;

    var getNameFilterValue = function() {
      var nameInput = $(nameFilter).val();
      return !!nameInput.length ? nameInput.toLowerCase() : undefined
    }

    var getCardsFilters = function() {
      return {
        offset: scrollCount * Randstone.cardCollections.pagination.limit,
        limit: Randstone.cardCollections.pagination.limit,
        name: getNameFilterValue(),
        hero: $(heroFilter).val(),
        cost: $(costFilter).val(),
        set: $(setFilter).val()
      }
    };

    var clearCards = function() {
      $(cardContainer).empty();
      scrollCount = 0;
    };

    var nameFilterHandler = function() {
      $(nameFilter).on('input', function() {
        Randstone.delay(function() {
          clearAndGetCards();
        }, 700)
      });
    };

    var costFilterHandler = function() {
      $(costFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var heroFilterHandler = function() {
      $(heroFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var setFilterHandler = function() {
      $(setFilter).on('change', function() {
        clearAndGetCards();
      });
    };

    var selectFilterHandler = function(argument) {
      var action = function() {
        clearAndGetCards();
      };
      $(setFilter).change(action);
      $(heroFilter).change(action);
      $(costFilter).change(action);
    }

    var clearAndGetCards = function() {
      clearCards();
      getCards();
    };

    var appendInput = function(card) {
      return '<input type="hidden" class="card-id" value="' + card.id + '" />'
    };

    var appendCard = function(cards) {
      cards.forEach(function(c) {
        $('<div class="col half-s3">' + appendInput(c) + '<img src="'+ c.image +'"/></div>').appendTo(cardContainer)
      });
      endLoadingCards();
    };

    var startLoadingCards = function() {
      isBusyLoading = true;
    };

    var endLoadingCards = function() {
      isBusyLoading = false;
      scrollCount++;
    };

    var getCards = function() {
      startLoadingCards();
      Randstone.ajax('<%= get_cards_path %>', 
        getCardsFilters(),
        appendCard
      );
    };

    var isScrollBottom = function() {
      return $(window).scrollTop() >= $(cardContainer).offset().top + $(cardContainer).outerHeight() - window.innerHeight - Randstone.image.medium.height;
    };

    var scrollPaginateHandler = function() {
      $(window).on('scroll', function() {
        if(isScrollBottom() && !isBusyLoading) {
          getCards();
        }
      });
    };

    $(function() {
      $('select').material_select();
      getCards();
      scrollPaginateHandler();
      selectFilterHandler();
    });

  }(window.jQuery, window, document, window.Randstone));
</script>