<h3 class="header">My collection</h3>

<div class="row">
  <div class="col s12">
    <h5> Filters </h5>
    <div class="input-field col s12">
      <input id="nameFilter" type="text">
      <label for="nameFilter">Name</label>
    </div>
  </div>
</div>

<div id="cardContainer" class="row">
</div>

<script>
  (function($, window, document) {

    var getCardsFilters = function() {
      return {
        offset: 0,
        limit: 20
      }
    }

    var getCards = function() {
      $.ajax({
        type: 'post',
        url: '<%= get_cards_path %>',
        data: JSON.stringify(getCardsFilters()),
        dataType: "json",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        success: function(data) {
          data.cards.forEach(function(c) {
            var x = asset_path(c.image + '.png')
            $('<div class="col half-s3">'+ x +'</div>').appendTo('#cardContainer')
          });
        } 
      });
    }

    $(function() {
      getCards();
    });

  }(window.jQuery, window, document));
</script>