<p id="notice"><%= notice %></p>

<h1 class="header">
  Randstone Home
</h1>

<div class="row">
  <h5>
    Hearthstone deck generator
  </h5>
</div>

<div class="row">
  <h5>Step 1</h5>
  <div class="col s12">
    <%= link_to 'Manage your collection', my_collection_path, class: "btn waves-effect waves-light" %>
  </div>
</div>

<div class="row">
  <h5>Step 2</h5>
  <div class="col s12">
    <%= link_to 'Start building a deck', new_deck_path, class: "btn waves-effect waves-light" %>
  </div>
</div>