/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "variables";
@import "materialize";

header, main, footer {
    &.with-padding-left {
        padding-left: $menu-width;
    }
}

.side-nav {
    width: $menu-width;
}

.container {
    width: $container-width;
}

.pointer {
    cursor: pointer;
}

.card-thumbnail {
    background-repeat: no-repeat;
    height: 10%;
    right: 0px;
    border-radius: 6px 6px 6px 6px;
    background-position: -65px -100px;
    background-size: 255px auto;
    width: 122px;
    float: right;
}

.card-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-thumbnail-count {
    float: right;
}

.row .col.half-s3 {
  width: 20%;
  margin-left: 0;
}

.btn .btn-small {
    padding-left: 15px;
    padding-right: 15px;
}

span.badge-total {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: $text-color-light;
}