<% if cards %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel teal">
        <span class="white-text"><%= @deck.cards.length %> / 30</span>
      </div>
    </div>
    <div class="col s12">
      <ul class="collection">
        <% cards.each do |card, count| %>
          <li class="collection-item">
            <span class="circle"><%= card.cost %></span>
            <%= card.name %>
            <span class="badge"><%= count %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>