<h5>Pick opponent</h5>

<%= form_tag(decks_new_add_opponent_path, method: 'post') do %>
<div class="row">
  <div class="input-field">
    <select class="browser-default" name="opponent[id]" id="opponent_id">
      <option value="">None</option>
    </select>
    <%#= select("opponent", "id", @opponents.collect {|u| [u.name, u.id]}, {:include_blank => 'None'}, class: "browser-default") %>
  </div>
</div>

<div class="row">
  <button class="btn waves-effect waves-light" type="submit">Next
    <i class="mdi-content-send right"></i>
  </button>   
</div>
<% end %>

<script>
  (function($, window, document) {
    $(function() {
      $('select').material_select();
    });
  }(window.jQuery, window, document));
</script>
