<h2>Pick heroes</h2>

<div id="heroeslist">
    <% @heroes.each do |hero| %>
        <p>
            <input type="hidden" value="<%= hero.id %>">
            <%= hero.name %>
            <%= hero.class_name %>
        </p>
    <% end %>
</div>