<h5>Pick cards</h5>

<div class="row">
  <div class="col s12">
   <%= form_tag(decks_new_add_card_path, method: 'post', id: 'cardsPicker') do %>
   <div class="row">
     <% @cards.each do |card| %>
     <div class="col s4">
      <input type="hidden" value="<%= card.id %>" />
      <%= image_tag medium_card_image_path(card.image), class: "card-choice pointer"  %>
    </div>
    <% end %>
  </div>
  <% end %>   
</div>
</div>

<script>
  (function($, window, document) {
    var pickCard = function() {
      $('.card-choice').click(function() {
        var cardId = $(this).siblings('input[type=hidden]').val();
        $('<input />').attr('type', 'hidden')
        .attr('name', "card")
        .attr('value', cardId)
        .appendTo('#cardsPicker');
        $('#cardsPicker').trigger('submit');
      });
    };

    var warnUser = function() {
      $('p.hero-alert').show();
    };

    $(function() {
      pickCard();
    });
  }(window.jQuery, window, document));
</script>