<h2>Pick opponent</h2>

<%= form_tag(decks_new_add_opponent_path, method: 'post') do %>
    <%= select("opponent", "id", @opponents.collect {|u| [u.name, u.id]}, {:include_blank => 'None'}) %>
    <input id="addOpponent" type="submit" value="next">
<% end %>
