<h3 class="header">Deck list</h3>

<div class="collection">
  <% @decks.each do |deck| %>
      <%= link_to deck.created_at, { controller: "decks", action: "show", id: deck.id}, class: "collection-item" %>
  <% end %>
</div>


