<h1>Creating deck</h1>

<p><%= @deck.pretty_inspect %></p>

<div id="status-container">
    <% if @deck.pick_opponent? %>
        <%= render partial: @deck.status, object: @opponents %>
    <% elsif @deck.pick_hero? || @deck.hero_picked? %>
        <%= render partial: 'pick_hero', object: @heroes %>
    <% elsif @deck.pick_cards? %>
        <%= render partial: @deck.status, object: @cards %>
    <% end %>
</div>