<h3>View Deck</h3>

<div class="row">
    <div class="col s6">
        <%= render partial: 'mana_curve' %>
    </div>
    <div class="col s6">
        <%= render partial: 'deck_thumbnails', locals: { cards: @card_with_count }%>
    </div>
</div>
