<ul class="side-nav fixed">
  <li class="bold"><%= link_to 'Build a deck', new_deck_path %></li>
  <li class="bold"><%= link_to 'My decks', decks_path %></li>
  <li class="bold"><%= link_to 'My collection', my_collection_path %></li>
</ul>