<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
<body>
<header class="with-padding-left">
  <%= render "layouts/nav" %>
  <%= render "layouts/menu" %>
</header>

<main class="with-padding-left">
  <div class="container">
    <%= yield %>
  </div>
</main>

</body>
</html>
